.postGrabs {
  margin: 30px 0;
}
.nextPreviosButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.nextPreviosButton > button {
  color: #000;
  background: #fff;
  padding: 5px 15px;
  margin: 0 10px;
}
form.postAgrabForm > div > ol > li::before {
  color: #fff;
  background: #000;
}

form.postAgrabForm > div > ol > li::after {
  color: #000;
}
form#postGrab > div > ol {
  display: none !important;
}

form#postGrab h2.ant-typography {
  font-size: 20px;
  margin-bottom: 30px;
  text-transform: capitalize;
  font-style: italic;
  color: dimgrey;
  font-weight: 100;
}
.ant-steps-item-container {
  outline: none;
  display: flex;
  align-items: center;
}
