.box {
  display: block;
  height: 70px;
  position: relative;
  border-radius: 5px;
  background: linear-gradient(to right, #abbd73 35%, #d6e2ad 100%);
  margin-bottom: 40px;
  padding: 23px 0px 0 40px;
  color: darkslategray;
  box-shadow: 1px 2px 1px -1px #777;
  color: #fff;

  font-weight: 700;
  width: 100%;
  transition: background 200ms ease-in-out;
  cursor: pointer;
}
.box_content {
  padding: 0 10px;
  display: block;
  width: 100%;
}
.shadow {
  position: relative;
}
.shadow:before {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 13px;
  right: 7px;
  width: 25%;
  top: 0;
  box-shadow: 0 15px 10px #777;
  transform: rotate(4deg);
  transition: all 150ms ease-in-out;
}

.box:hover {
  background: linear-gradient(to right, #abbd73 0%, #abbd73 100%);
}

.shadow:hover::before {
  transform: rotate(0deg);
  bottom: 20px;
  z-index: -10;
}

.circle {
  position: absolute;
  top: 22px;
  left: 15px;
  border-radius: 50%;
  box-shadow: inset 1px 1px 1px 0px rgba(0, 0, 0, 0.5), inset 0 0 0 25px #fff;
  width: 20px;
  height: 20px;
  display: inline-block;
}
